
/* Remove margin shifting */
.mainContent {
  transition: none;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

/* ---------------- Main content ---------------- */
.mainContent {
  transition: margin-left 0.3s;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

